.navbar{
    background-color: #000000;
}

#cabecalho .nav .nav-link.active{
    background-color: #0011ff;
    color: #ffffff;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover, 
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}

.navbar-brand{
    font-family: SamsungOne-400;
}

.section-title{
    font-family: SamsungSharpSans-Bold;
    font-size: 29px;
    letter-spacing: 4px;
}

@font-face {
    font-family: SamsungSharpSans-Bold;
    src: url(font/samsungone/SamsungSharpSans-Bold.ttf);
}

@font-face {
    font-family: SamsungOne-400;
    src: url(font/samsungone/SamsungOne-400.ttf);
}
#sobre-o-restaurante, #cardapio{
    background-color: rgb(255, 255, 255);
}

.navbar-toggler{
    background-color: rgb(255, 255, 255);
}


.text-colored{
    color: #0011ff;
}

.nav-cardapio .nav-link.active,
#fale-conosco button{
    background-color: #0011ff;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #0011ff;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
    
}

@media (max-width: 767px){
    .carousel-item img{
        height: 280px;
    }
}
